.article {
  &__list {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    gap: 45px;
    list-style: none;
    margin: unset;
    padding: unset;

    &-heading {
      position: relative;
      color: #363636;
      font-size: 16px;
      font-weight: 600;
      line-height: 19px;
      margin-bottom: 50px;

      &::after {
        position: absolute;
        content: "";
        top: 24px;
        left: 0;
        border-bottom: 1px solid #eaeaea;
        width: 100%;
      }
    }

    @media (max-width: 375px) {
      grid-template-columns: 310px;
    }
  }
}

#ListContainer {
  padding: unset;
}
